@import '~styles/abstracts/placeholders';
@import '~styles/abstracts/variables';
@import '~styles/abstracts/mixins';

.AuthBadgeGroup {
  @extend %Button;
  
  width: $greetings-view-head-edge-elems-width-base - $width-offset;
  opacity: $opacity-button-idle-inversed;
  // Use hardware acceleration if possible.
  filter: alpha(opacity=#{$opacity-button-idle-inversed * 100});
}
