@import '~styles/abstracts/variables';

.TitleView {
  grid-area: TitleView;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.TitleView__TextWrapper {
  margin-top: 19.881vh;
}

.TitleView__Text {
  font-family: OpenSans-SemiBold;
  font-size: 2.125vw;
}

.TitleView__Text--ColorpickMain {
  color: $color-foreground-pick-main;
}

.TitleView__Text--ColorpickAux1 {
  color: $color-foreground-pick-aux1;
}
