@import '~styles/abstracts/variables';
@import '~styles/abstracts/mixins';
@import '~styles/base/typography';
@import '~styles/base/animations';

.SearchPopup {
  $background: #f0f3ff;
  $height-full: 36.5rem;
  $height-pic: 14rem;
  $color-borders: #b8b8b8;

  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  z-index: 3;

  &__ClickableBackground {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__Frame {
    animation: fade 0.4s;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 76.5rem;
    height: $height-full;
    background-color: $background;
    z-index: 4;

    @include respond(xs) {
      width: 90%;
      height: $height-full - $height-pic;
      background-color: white;
      border-radius: 1rem;
    }
  }

  &__StagePicWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $height-pic;
    border-bottom: 0.078vw solid $color-borders;

    @include respond(xs) {
      display: none;
    }
  }

  &__StagePic {
    width: 90%;
    height: fit-content;
  }

  &__ContentWrapper {
    width: 100%;
    height: $height-full - $height-pic;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  &__Header {
    font-family: OpenSans-Regular;
    font-size: 1.8rem;
    text-align: center;
  }

  &__Input {
    min-width: 43rem;
    font-family: OpenSans-Regular;
    font-size: 1.6rem;
    padding: .2rem;
    padding-left: .5rem;
    border-radius: 1rem;
    box-sizing: border-box;
    outline: none;
    background-color: $background;
    border-color: $color-borders;

    @include respond(xs) {
      min-width: initial;
      width: 90%;
      height: 5rem;
      background-color: white;
      border-radius: 1rem;
      font-size: 2rem;
    }
  }

  &__Button {
    width: 15rem;
    transition: .1s;
    cursor: pointer;
    filter: drop-shadow(.2rem .3125rem .5rem rgba(0, 0, 0, .25));

    &:hover {
      opacity: $opacity-button-hover;
      // Use hardware acceleration if possible.
      filter: alpha(opacity=#{$opacity-button-hover * 100});
    }

    &:active {
      opacity: $opacity-button-active;
      // Use hardware acceleration if possible.
      filter: alpha(opacity=#{$opacity-button-active * 100});
    }

    @include respond(xs) {
      display: none;
    }
  }

  &__MobileButton {
    display: none;
    width: 90%;
    height: 5rem;
    font-size: 1.6rem;
    transition: .1s;
    border-radius: 1rem;
    color: white;
    background-color: #3fcabe;
    border: 0;
    outline: none;

    @include respond(xs) {
      display: block;
    }
  }
}
