{
  "dev": {
    "HOST": "hostname",
    "REACT_APP_AUTH_RETURN_HOSTNAME": "hostname",
    "REACT_APP_LINKEDIN_APP_CLIENT_ID": "code",
    "REACT_APP_API": "api/url"
  },
  "prod": {
    "REACT_APP_AUTH_RETURN_HOSTNAME": "hostname",
    "REACT_APP_LINKEDIN_APP_CLIENT_ID": "code",
    "REACT_APP_API": "api/url"
  }
}
