@import '~styles/abstracts/variables';

.Wrapper {
  grid-area: TelegramWrapper;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.5em;
}

.TelegramButton {
  opacity: $opacity-button-idle-inversed;
  // Use hardware acceleration if possible.
  filter: alpha(opacity=#{$opacity-button-idle-inversed * 100});
  transition: .1s;
  cursor: pointer;

  &:hover {
    opacity: $opacity-button-hover-inversed;
    // Use hardware acceleration if possible.
    filter: alpha(opacity=#{$opacity-button-hover-inversed * 100});
  }

  &:active {
    opacity: $opacity-button-active-inversed;
    // Use hardware acceleration if possible.
    filter: alpha(opacity=#{$opacity-button-active-inversed * 100});
  }
}
