@import '~styles/abstracts/variables';

.LandingPage {
  background-color: $color-background-default;
  display: grid;
  grid-template:
    'GreetingsView'
    'HowToWorkView'
    'InfoblockView'
    'MainSwipeView'
    'MotivatorView'
    'Footer';
}
