@import '~styles/abstracts/variables';

.LogoWrapper {
  grid-area: LogoWrapper;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: $greetings-view-head-padding-horizontal;
}

.Logo {
  cursor: pointer;
  width: $greetings-view-head-edge-elems-width-base;
  height: $logo-rect-height-base;
}
