@import '~styles/abstracts/variables';
@import '~styles/abstracts/mixins';

.LogoWrapper {
  grid-area: LogoWrapper;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: $greetings-view-head-padding-horizontal;

  @include respond(xs) {
    margin: 0;
  }
}

.Logo {
  cursor: pointer;
  width: $greetings-view-head-edge-elems-width-base;
  height: $logo-rect-height-base;
}
