/* Colors. */
$color-background-default: #fff;
$color-foreground-pick-main: #4f69ca;
$color-foreground-pick-aux1: #33c7ba;

/* Sizes. */
$greetings-view-height: 100%;
$greetings-view-head-height: 80px;
$greetings-view-content-height: calc(
  #{$greetings-view-height} - #{$greetings-view-head-height}
);
$greetings-view-content-action-group-width: 36.003vw;

/* Misc. */
$opacity-button-hover: .8;
$opacity-button-active: .5;
$opacity-button-idle-inversed: .8;
$opacity-button-hover-inversed: 1;
$opacity-button-active-inversed: .5;
