/* Colors. */
$color-background-default: #fbfbff;
$color-background-rect: #e9edfb;
$color-foreground-pick-main: #4f69ca;
$color-foreground-pick-aux1: #33c7ba;

/* Sizes. */
$greetings-view-height: 100%;
$greetings-view-head-edge-elems-width-base: 15rem;
$greetings-view-head-padding-horizontal: 16rem;
$greetings-view-head-height: 80px;
$greetings-view-content-height: calc(
  #{$greetings-view-height} - #{$greetings-view-head-height}
);
$greetings-view-content-action-group-width: 38rem;
$logo-rect-height-base: 2.625rem;

$width-review-card: 67.38em;

/* Misc. */
$opacity-button-hover: .8;
$opacity-button-active: .5;
$opacity-button-idle-inversed: .8;
$opacity-button-hover-inversed: 1;
$opacity-button-active-inversed: .5;
