/* Light fonts. */

@font-face {
  font-family: Open Sans;
  src: local('Open Sans'),
       url(./OpenSans/OpenSans-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Open Sans;
  src: local('Open Sans'),
       url(./OpenSans/OpenSans-LightItalic.ttf) format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* Regular fonts. */

@font-face {
  font-family: Open Sans;
  src: local('Open Sans'),
       url(./OpenSans/OpenSans-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Open Sans;
  src: local('Open Sans'),
       url(./OpenSans/OpenSans-Italic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Semi-bold fonts. */

@font-face {
  font-family: Open Sans;
  src: local('Open Sans'),
       url(./OpenSans/OpenSans-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Open Sans;
  src: local('Open Sans'),
       url(./OpenSans/OpenSans-SemiBoldItalic.ttf) format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* Bold fonts. */

@font-face {
  font-family: Open Sans;
  src: local('Open Sans'),
       url(./OpenSans/OpenSans-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Open Sans;
  src: local('Open Sans'),
       url(./OpenSans/OpenSans-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Extra bold fonts. */

@font-face {
  font-family: Open Sans;
  src: local('Open Sans'),
       url(./OpenSans/OpenSans-ExtraBold.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Open Sans;
  src: local('Open Sans'),
       url(./OpenSans/OpenSans-ExtraBoldItalic.ttf) format('truetype');
  font-weight: 800;
  font-style: italic;
}








