.Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 33vw;
}

.Tab {
  border: none;
  background: none;
  outline: none;
  font-family: OpenSans-Regular;
  font-size: 1em;
}
