.Wrapper {
  grid-area: TabSection;
  display: flex;
  justify-content: space-around;
  padding-top: 7.207vh;
  align-items: center;
}

.Tab {
  border: none;
  background: none;
  outline: none;
  font-family: OpenSans-Regular;
  font-size: 1.353vw;
  cursor: pointer;
  user-select: none;
}
