.Wrapper {
  grid-area: TabSection;
  display: flex;
  justify-content: space-around;
  padding-top: 2.5rem;
  align-items: center;
}

.Tab {
  border: none;
  background: none;
  outline: none;
  font-family: OpenSans-Regular;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
}
