@import '~styles/abstracts/variables';
@import '~styles/abstracts/mixins';
@import '~styles/base/typography';

.StepThird {
  grid-area: StepThirdView;
  display: grid;
  grid-template: 'Aux Main' 1fr / 1fr 1fr;

  @include respond(xs) {
    display: flex;
    align-items: center;
    background-color: $color-background-rect;
    border-bottom-left-radius: 20%;
  }
}

.StepThird__CentralizingBox:first-child {
  position: relative;
  grid-area: Aux;
  display: flex;
  justify-content: flex-end;

  @include respond(xs) {
    display: none;
  }
}

.StepThird__CentralizingBox:last-child {
  position: relative;
  grid-area: Main;
  display: flex;
  justify-content: flex-start;

  @include respond(xs) {
    display: flex;
    width: 100%;
  }
}

.StepThird__ParagraphWrapper {
  position: absolute;
  left: 4.774rem;
  top: 14.92rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include respond(xs) {
    position: static;
    align-items: center;
  }
}

.StepThird__ParagraphBackground {
  position: absolute;
  right: -10.444rem;
  top: -7.46rem;
  width: 64.902rem;
  height: 26.483rem;
  z-index: 0;

  @include respond(xs) {
    display: none;
  }
}

.StepThird__TitleWrapper {
  margin-top: -1.1936rem;
  margin-bottom: .373rem;
  z-index: 1;
}

.StepThird__Title {
  font-family: OpenSans-SemiBold;
  font-size: 1.790rem;
  line-height: 2.387rem;
  max-width: 37.3rem;
  user-select: none;

  @include respond(xs) {
    text-align: center;
    max-width: initial;
  }
}

.StepThird__Title--HighlightedMain {
  color: $color-foreground-pick-main;
}

.StepThird__Title--HighlightedAux1 {
  color: $color-foreground-pick-aux1;
}

.StepThird__Text {
  font-family: OpenSans-Regular;
  font-size: 1.3428rem;
  max-width: 37.3rem;
  line-height: 1.909rem;
  z-index: 1;
  user-select: none;

  @include respond(xs) {
    text-align: center;
    max-width: initial;
  }
}

.StepThird__ImageWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 4rem;
  padding-right: 16.710rem;
}

.StepThird__Image {
  width: 28.84rem;
  height: 32.534rem;
  user-select: none;
}
