@import '~styles/abstracts/variables';
@import '~styles/base/typography';

.StepThird {
  grid-area: StepThirdView;
  display: grid;
  grid-template: 'Aux Main' 1fr / 1fr 1fr;
}

.StepThird__CentralizingBox:first-child {
  position: relative;
  grid-area: Aux;
  display: flex;
  justify-content: flex-end;
}

.StepThird__CentralizingBox:last-child {
  position: relative;
  grid-area: Main;
  display: flex;
  justify-content: flex-start;
}

.StepThird__ParagraphWrapper {
  position: absolute;
  left: 4vw;
  top: 26.229vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.StepThird__ParagraphBackground {
  position: absolute;
  width: 54.375vw;
  height: 46.557vh;
  right: -8.750vw;
  top: -13.114vh;
  z-index: 0;
}

.StepThird__TitleWrapper {
  margin-top: -2.098vh;
  margin-bottom: .655vh;
  z-index: 1;
}

.StepThird__Title {
  font-family: OpenSans-SemiBold;
  font-size: 1.5vw;
  line-height: 4.196vh;
  max-width: 31.25vw;
  user-select: none;
}

.StepThird__Title--HighlightedMain {
  color: $color-foreground-pick-main;
}

.StepThird__Title--HighlightedAux1 {
  color: $color-foreground-pick-aux1;
}

.StepThird__Text {
  font-family: OpenSans-Regular;
  font-size: 1.125vw;
  max-width: 31.25vw;
  line-height: 3.357vh;
  z-index: 1;
  user-select: none;
}

.StepThird__ImageWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 13.377vh;
  padding-right: 14vw;
}

.StepThird__Image {
  width: 25vw;
  height: 59.180vh;
  user-select: none;
}
