@import '~styles/base/typography';

.StepSecond {
  grid-area: StepSecondView;
  display: grid;
  grid-template: 'Main Aux' 1fr / 1fr 1fr;
}

.StepSecond__CentralizingBox:first-child {
  position: relative;
  grid-area: Main;
  display: flex;
  justify-content: flex-end;
}

.StepSecond__CentralizingBox:last-child {
  position: relative;
  grid-area: Aux;
  display: flex;
  justify-content: flex-start;
}

.StepSecond__ParagraphWrapper {
  position: absolute;
  right: -3.187vw;
  top:  21.770vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.StepSecond__ParagraphBackground {
  position: absolute;
  width: 52.812vw;
  height: 43.278vh;
  right: -8.75vw;
  top: -11.016vh;
  z-index: 0;
}

.StepSecond__TitleWrapper {
  margin-bottom: 0.655vh;
  z-index: 1;
}

.StepSecond__Title {
  font-family: OpenSans-SemiBold;
  font-size: 1.5vw;
  line-height: 4.196vh;
  max-width: 31.25vw;
  user-select: none;
}

.StepSecond__Text {
  font-family: OpenSans-Regular;
  font-size: 1.125vw;
  max-width: 30vw;
  line-height: 3.357vh;
  z-index: 1;
  user-select: none;
}

.StepSecond__ImageWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 0.524vh;
  padding-left: 17.5vw;
}

.StepSecond__Image {
  width: 25vw;
  height: 59.180vh;
  user-select: none;
}

