@import '~styles/base/typography';

.StepSecond {
  grid-area: StepSecondView;
  display: grid;
  grid-template: 'Main Aux' 1fr / 1fr 1fr;
}

.StepSecond__CentralizingBox:first-child {
  position: relative;
  grid-area: Main;
  display: flex;
  justify-content: flex-end;
}

.StepSecond__CentralizingBox:last-child {
  position: relative;
  grid-area: Aux;
  display: flex;
  justify-content: flex-start;
}

.StepSecond__ParagraphWrapper {
  position: absolute;
  right: -2.55rem;
  top: 8.3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.StepSecond__ParagraphBackground {
  position: absolute;
  right: -7rem;
  top: -4.2rem;
  z-index: 0;
}

.StepSecond__TitleWrapper {
  margin-bottom: .25rem;
  z-index: 1;
}

.StepSecond__Title {
  font-family: OpenSans-SemiBold;
  font-size: 1.2rem;
  line-height: 1.6rem;
  max-width: 25rem;
  user-select: none;
}

.StepSecond__Text {
  font-family: OpenSans-Regular;
  font-size: .9rem;
  max-width: 24rem;
  line-height: 1.28rem;
  z-index: 1;
  user-select: none;
}

.StepSecond__ImageWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: .2rem;
  padding-left: 14rem;
}

.StepSecond__Image {
  width: 320px;
  height: 361px;
  user-select: none;
}

