@import '~styles/base/typography';

.Badge {
  $color-background: #cad0eb;
  $shift-default: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: OpenSans-Regular;
  font-size: 1.2rem;
  background-color: $color-background;
  width: 25rem;
  height: 6.5rem;
  border-radius: 1rem;
  filter: drop-shadow(.5rem .3125rem .5rem rgba(0, 0, 0, .25));

  &__TitleWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: $shift-default;
    padding-right: $shift-default;
  }

  &__Logo {
    width: 5rem;
    margin-top: -.7rem;
  }

  &__Paragraph {
    box-sizing: border-box;
    padding-left: $shift-default;
    padding-right: $shift-default;
    line-height: 1.6rem;
  }
}
