@import '~styles/abstracts/variables';

.GreetingsView {
  width: 100%;
  height: fit-content;
  grid-area: GreetingsView;
  background-image: url(~assets/svg/misc/RectUpper.svg);
  // Support Firefox ignoring preserveAspectRatio="none" in SVG.
  background-size: 100% 100%;

  display: grid;
  grid-template:
    'Head'     19.678vh
    'Content'  98.404vh;
}
