@import '~styles/abstracts/variables';
@import '~styles/abstracts/mixins';

.GreetingsView {
  width: 100%;
  height: fit-content;
  grid-area: GreetingsView;
  background-image: url(~assets/svg/misc/RectUpper.svg);
  // Support Firefox ignoring preserveAspectRatio="none" in SVG.
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;

  display: grid;
  grid-template:
    'Head'     8rem
    'Content'  45rem;
  
  @include respond(xs) {
    background-image: none;
    background-color: $color-background-rect;
    border-bottom-right-radius: 50%;

    grid-template:
      'Head'     8rem
      'Content'  50rem;
  }
}
