@import '~styles/abstracts/variables';

.GreetingsView {
  height: $greetings-view-height;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(~assets/svg/misc/RectUpper.svg);
  // Support Firefox ignoring preserveAspectRatio="none" in SVG.
  background-size: 100% 100%;
}
