@import '~styles/abstracts/mixins';

.MainSwipeView {
  margin-bottom: 15rem;
  display: grid;
  grid-template:
    'TitleView' 14.5rem
    'CardsView' 35.785rem;
  
  @include respond(xs) {
    display: none;
  }
}
