@import '~styles/abstracts/variables';
@import '~styles/base/typography';

.Content {
  grid-area: Content;
  display: flex;
  justify-content: center;
}

.Content__PicWrapper {
  display: flex;
  justify-content: flex-end;
  margin-left: -9.881vw;
  margin-right: -10.558vw;
}

.Content__Pic {
  width: 60.490vw;
  height: 38.070vw;
  user-select: none;
}

.Content__TextWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 35.459vh;
}

.Content__ActionGroup {
  width: $greetings-view-content-action-group-width;
  font-family: OpenSans-SemiBold;
  font-size: 2.571vw;
  line-height: 3.384vw;
  text-align: center;
  user-select: none;
}
