@import '~styles/abstracts/variables';
@import '~styles/base/typography';

.Content {
  grid-area: Content;
  display: flex;
  justify-content: center;
}

.Content__PicWrapper {
  display: flex;
  justify-content: flex-end;
  margin-left: -7.3rem;
  margin-right: -7.8rem;
}

.Content__Pic {
  width: 715px;
  height: 450px;
  user-select: none;
}

.Content__TextWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 12.3rem;
}

.Content__ActionGroup {
  width: $greetings-view-content-action-group-width;
  font-family: OpenSans-SemiBold;
  font-size: 1.9rem;
  line-height: 40px;
  text-align: center;
  user-select: none;
}
