@import '~styles/abstracts/variables';
@import '~styles/base/typography';

.Content {
  height: $greetings-view-content-height;
  display: flex;
  justify-content: space-evenly;
}

.Content__Pic {
  height: 80%;
}

.Content__InteractionGroup {
  margin-left: -25%;
  margin-bottom: 18%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.Content__CallToAction {
  width: 350px;
  height: 108px;
  font-family: OpenSans-SemiBold;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 40px;
  text-align: center;
}
