@import '~styles/base/typography';

.StepFirst {
  grid-area: StepFirstView;
  display: grid;
  grid-template: 'Aux Main' 1fr / 1fr 1fr;
}

.StepFirst__CentralizingBox:first-child {
  position: relative;
  grid-area: Aux;
  display: flex;
  justify-content: flex-end;
}

.StepFirst__CentralizingBox:last-child {
  position: relative;
  grid-area: Main;
  display: flex;
  justify-content: flex-start;
}

.StepFirst__ParagraphWrapper {
  position: absolute;
  left: 5.937vw;
  top: 21.770vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.StepFirst__ParagraphBackground {
  position: absolute;
  width: 52.812vw;
  height: 43.278vh;
  right: -7.5vw;
  top: -13.114vh;
  z-index: 0;
}

.StepFirst__TitleWrapper {
  margin-bottom: 0.655vh;
  z-index: 1;
}

.StepFirst__Title {
  font-family: OpenSans-SemiBold;
  font-size: 1.5vw;
  line-height: 4.196vh;
  max-width: 31.25vw;
  user-select: none;
}

.StepFirst__Text {
  font-family: OpenSans-Regular;
  font-size: 1.125vw;
  max-width: 30vw;
  line-height:  3.357vh;
  z-index: 1;
  user-select: none;
}

.StepFirst__ImageWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 7.134vh;
  padding-right: 15.625vw;
}

.StepFirst__Image {
  width: 25vw;
  height: 52.459vh;
  user-select: none;
}
