@import '~styles/abstracts/variables';
@import '~styles/abstracts/mixins';
@import '~styles/base/typography';

.StepFirst {
  grid-area: StepFirstView;
  display: grid;
  grid-template: 'Aux Main' 1fr / 1fr 1fr;

  @include respond(xs) {
    display: flex;
    align-items: center;
    background-color: darken($color-background-rect, 10);
  }
}

.StepFirst__CentralizingBox:first-child {
  position: relative;
  grid-area: Aux;
  display: flex;
  justify-content: flex-end;

  @include respond(xs) {
    display: none;
  }
}

.StepFirst__CentralizingBox:last-child {
  position: relative;
  grid-area: Main;
  display: flex;

  @include respond(xs) {
    justify-content: center;
    width: 100%;
  }
}

.StepFirst__ParagraphWrapper {
  position: absolute;
  left: 7.087rem;
  top: 12.3836rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include respond(xs) {
    position: static;
    align-items: center;
  }
}

.StepFirst__ParagraphBackground {
  position: absolute;
  right: -8.952rem;
  top: -7.46rem;
  width: 63.037rem;
  height: 24.618rem;
  z-index: 0;

  @include respond(xs) {
    display: none;
  }
}

.StepFirst__TitleWrapper {
  margin-bottom: .373rem;
  z-index: 1;
}

.StepFirst__Title {
  font-family: OpenSans-SemiBold;
  font-size: 1.790rem;
  line-height: 2.387rem;
  max-width: 37.3rem;
  user-select: none;

  @include respond(xs) {
    text-align: center;
    max-width: initial;
  }
}

.StepFirst__Text {
  font-family: OpenSans-Regular;
  font-size: 1.3428rem;
  max-width: 35.808rem;
  line-height: 1.909rem;
  z-index: 1;
  user-select: none;

  @include respond(xs) {
    text-align: center;
    max-width: initial;
  }
}

.StepFirst__ImageWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 4.058rem;
  padding-right: 18.65rem;
}

.StepFirst__Image {
  width: 29.84rem;
  height: 29.84rem;
  user-select: none;
}
