@import '~styles/abstracts/variables';

.Swiper {
  $shift-inverting: 15em;
  $size-font-normal: 1em;
  $scale-reducer-unfocused: .8;
  $size-font-reduced: $size-font-normal * $scale-reducer-unfocused;

  grid-area: CardsView;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  user-select: none;

  &__JustificationWrapper {
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    width: 2 * $width-review-card * $scale-reducer-unfocused;
  }

  &__CardWrapper {
    $margin-top-for-unfocused: 4em;
    $z-index-for-focused: 2;
    $brightness-unfocused: 60%;

    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    z-index: $z-index-for-focused;
    font-size: $size-font-normal;

    &:first-child,
    &:last-child {
      z-index: $z-index-for-focused - 1;
      left: $shift-inverting;
      font-size: $size-font-reduced;
      filter: brightness($brightness-unfocused);
    }

    &:last-child {
      z-index: $z-index-for-focused - 2;
      right: $shift-inverting;
      left: unset;
    }
  }

  &__Arrow {
    width: 1.625rem;

    &--left-sided {
      margin-right: -$shift-inverting / 2;
    }

    &--right-sided {
      margin-left: -$shift-inverting / 2;
    }
  }
}
