@import '~styles/abstracts/variables';
@import '~styles/abstracts/placeholders';

.SearchButtonGroup {
  position: relative;

  &__Button {
    @extend %Button;

    filter: none;
    width: 16rem;
    position: relative;
    z-index: 1;
  }
}
