@import '~styles/abstracts/variables';

.RocketGroup__Line {
  position: absolute;
  right: $greetings-view-content-action-group-width / 2 - .6em;
  top: -.92em;
}

.RocketGroup__Rocket {
  position: absolute;
  top: 6.75em;
  right: 10em;
  width: 120px;
  height: 110px;
}
