@import '~styles/abstracts/variables';

.RocketGroup__Line {
  position: absolute;
  right: $greetings-view-content-action-group-width / 2 - .812vw;
  top: -5.333vh;
}

.RocketGroup__Rocket {
  position: absolute;
  top: 36.900vh;
  right: 25.719vw;
  width: 10.152vw;
  height: 19.819vh;
}
