@import '~styles/abstracts/variables';
@import '~styles/abstracts/mixins';

.RocketGroup__Line {
  position: absolute;
  height: 45rem;
  right: $greetings-view-content-action-group-width / 2 - 1rem;
  top: 2.5rem;

  @include respond(xs) {
    display: none;
  }
}

.RocketGroup__Rocket {
  position: absolute;
  top: 16.5rem;
  right: 27.5rem;
  width: 9.5rem;
  height: 9.2rem;

  @include respond(xs) {
    position: static;
    width: 15rem;
    height: 15rem;
  }
}
