.SearchButton {
  opacity: .8;
  filter: alpha(opacity=80);
  transition: .1s;
  cursor: pointer;

  &:hover {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  &:active {
    opacity: .5;
    filter: alpha(opacity=50);
  }
}
