@import '~styles/abstracts/mixins';

.InfoBlockView {
  display: grid;
  grid-template:
    'TitleView TitleView TitleView'          17.904rem
    'InfoTimeSave InfoEasement InfoWarranty' 35.785rem / 1fr 36.295rem 1fr;
  
  @include respond(xs) {
    grid-template:
      'TitleView'    12rem
      'InfoTimeSave' 25rem
      'InfoEasement' 25rem
      'InfoWarranty' 25rem;
  }
}
