@import '~styles/abstracts/variables';

.TitleView {
  background-color: aqua;
  grid-area: TitleView;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.TitleView__TextWrapper {
  margin-top: 1rem;
}

.TitleView__Text {
  font-family: OpenSans-SemiBold;
  font-size: 2.536rem;
}
