@import '~styles/abstracts/placeholders';
@import '~styles/abstracts/variables';
@import '~styles/abstracts/mixins';
@import '~styles/base/typography';

.Footer {
  grid-area: Footer;
  height: 17.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1e6fb;
  border-top: 0.2rem solid #9ea9d1;

  @include respond(xs) {
    height: 20rem;
    flex-direction: column;
  }

  &__SectionWrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 23rem;
    height: 100%;
    padding-left: 1.5rem;
    padding-top: 3.5rem;

    &:first-child {
      padding: 0;
      justify-content: center;

      @include respond(xs) {
        display: none;
      }
    }

    &:nth-child(2) {
      @include respond(xs) {
        text-decoration: underline;
      }
    }

    @include respond(xs) {
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  &__EmptyWrapper {
    width: 6rem;

    @include respond(xs) {
      display: none;
    }
  }

  &__Logo {
    width: 15rem;
    height: $logo-rect-height-base;

    @include respond(xs) {
      display: none;
    }
  }

  &__Text {
    @extend %FooterMenuEntry;

    &--marked {
      @extend %FooterMenuEntry--marked;
    }

    &--disabled {
      @extend %FooterMenuEntry--disabled;
    }
  }

  &__SocialLink {
    width: fit-content;
  }

  &__SocialIcon {
    width: 2.5em;

    @include respond(xs) {
      width: fit-content;
    }
  }
}
