{
  "dev": {
    "NODE_ENV": "development",
    "JWT_SECRET": "secret",
    "HOST": "localhost",
    "PORT": "8081",
    "ORIGIN": "http://sandbox.local:3000",
    "DB_HOST": "localhost",
    "DB_PORT": 5432,
    "DB_USERNAME": "recheck",
    "DB_PASSWORD": "password",
    "DB_PASSWORD_SALT_ROUNDS": 10,
    "DB_NAME": "recheck_dev",
    "DB_SYNC": true,
    "DB_LOGS": false,
    "MAIL_HOST": "smtp.ethereal.email",
    "MAIL_PORT": 587,
    "MAIL_SECURED": false,
    "MAIL_USERNAME": "example@ethereal.email",
    "MAIL_PASSWORD": "password"
  },
  "test": {
    "NODE_ENV": "testing",
    "JWT_SECRET": "secret",
    "HOST": "localhost",
    "PORT": "8081",
    "ORIGIN": "http://sandbox.local:3000",
    "DB_HOST": "localhost",
    "DB_PORT": 5432,
    "DB_USERNAME": "recheck",
    "DB_PASSWORD": "password",
    "DB_PASSWORD_SALT_ROUNDS": 10,
    "DB_NAME": "recheck_test",
    "DB_SYNC": true,
    "DB_LOGS": false,
    "MAIL_HOST": "smtp.ethereal.email",
    "MAIL_PORT": 587,
    "MAIL_SECURED": false,
    "MAIL_USERNAME": "example@ethereal.email",
    "MAIL_PASSWORD": "password"
  },
  "prod": {
    "NODE_ENV": "production",
    "JWT_SECRET": "secret",
    "HOST": "host",
    "PORT": "8081",
    "ORIGIN": "https://recheck.space",
    "DB_HOST": "localhost",
    "DB_PORT": 5432,
    "DB_USERNAME": "recheck",
    "DB_PASSWORD": "password",
    "DB_PASSWORD_SALT_ROUNDS": 10,
    "DB_NAME": "recheck",
    "DB_SYNC": false,
    "DB_LOGS": false,
    "MAIL_HOST": "localhost",
    "MAIL_PORT": 465,
    "MAIL_SECURED": true,
    "MAIL_USERNAME": "noreply@recheck.space",
    "MAIL_PASSWORD": "password"
  }
}
