{
  "dev": {
    "NODE_ENV": "development",
    "LOGFILE_MODE": false,
    "HOST": "host",
    "PORT": "8081",
    "SSL_KEY_PATH": "path/to/server/key",
    "SSL_CRT_PATH": "path/to/server/ssl/certificate",
    "ORIGIN": "origin",
    "AUTH_RETURN_HOSTNAME": "http://sandbox.local:3000/auth-confirm",
    "LINKEDIN_APP_CLIENT_ID": "code",
    "LINKEDIN_APP_CLIENT_SECRET": "code",
    "DB_HOST": "host",
    "DB_PORT": "port",
    "DB_USERNAME": "username",
    "DB_PASSWORD": "password",
    "DB_PASSWORD_SALT_ROUNDS": 10,
    "DB_NAME": "dbname",
    "DB_SYNC": true,
    "DB_LOGS": false,
    "MAIL_HOST": "smtp.ethereal.email",
    "MAIL_PORT": 587,
    "MAIL_SECURED": false,
    "MAIL_USERNAME": "test@ethereal.email",
    "MAIL_PASSWORD": "password"
  },
  "prod": {
    "NODE_ENV": "production",
    "HOST": "host",
    "PORT": "8081",
    "ORIGIN": "origin",
    "AUTH_RETURN_HOSTNAME": "http://recheck-candidate.com/auth-confirm",
    "LINKEDIN_APP_CLIENT_ID": "code",
    "LINKEDIN_APP_CLIENT_SECRET": "code",
    "DB_HOST": "host",
    "DB_PORT": "port",
    "DB_USERNAME": "username",
    "DB_PASSWORD": "password",
    "DB_PASSWORD_SALT_ROUNDS": 10,
    "DB_NAME": "dbname",
    "DB_SYNC": true,
    "DB_LOGS": false,
    "MAIL_HOST": "localhost",
    "MAIL_PORT": 587,
    "MAIL_SECURED": false,
    "MAIL_USERNAME": "no-reply@recheck-candidate.com",
    "MAIL_PASSWORD": "password"
  }
}
