{
  "dev": {
    "NODE_ENV": "development",
    "LOGFILE_MODE": false,
    "HOST": "host",
    "PORT": "8081",
    "ORIGIN": "origin",
    "AUTH_RETURN_HOSTNAME": "http://sandbox.local:3000/auth-confirm",
    "LINKEDIN_APP_CLIENT_ID": "code",
    "LINKEDIN_APP_CLIENT_SECRET": "code",
    "LINKEDIN_SCRAPER_USERNAME": "username",
    "LINKEDIN_SCRAPER_PASSWORD": "password",
    "DB_HOST": "host",
    "DB_PORT": "port",
    "DB_USERNAME": "username",
    "DB_PASSWORD": "password",
    "DB_PASSWORD_SALT_ROUNDS": 10,
    "DB_NAME": "dbname",
    "DB_SYNC": true,
    "DB_LOGS": false
  },
  "prod": {
    "NODE_ENV": "production",
    "HOST": "host",
    "PORT": "8081",
    "ORIGIN": "origin",
    "AUTH_RETURN_HOSTNAME": "http://recheck-candidate.com/auth-confirm",
    "LINKEDIN_APP_CLIENT_ID": "code",
    "LINKEDIN_APP_CLIENT_SECRET": "code",
    "LINKEDIN_SCRAPER_USERNAME": "username",
    "LINKEDIN_SCRAPER_PASSWORD": "password",
    "DB_HOST": "host",
    "DB_PORT": "port",
    "DB_USERNAME": "username",
    "DB_PASSWORD": "password",
    "DB_PASSWORD_SALT_ROUNDS": 10,
    "DB_NAME": "dbname",
    "DB_SYNC": true,
    "DB_LOGS": false
  }
}
